<ion-view title="Add a New Dish" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-android-cancel"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h3  style="color:#000000;">Name of the new dish:</h3>
    <form  class="list">
      <label class="item item-input">
        <input ng-model="dish.name" type="text" placeholder="*Example: Barbecue pork*">
      </label>
    </form>
    <h3  style="color:#000000;">Dish ingredients:</h3>
    <ion-list>
      <ion-item ng-repeat="ingredient in dish.ingredients">
        {{ingredient}}
        <ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 9px;"></div>
        <form  class="list">
          <label class="item item-select" >
            <span class="input-label">Select Ingredient:</span>
            <select>
              <option ng-repeat="ingredient in dish.ingredients">opcion {{ingredient}}</option>
            </select>
          </label>
          <button  class="button button-royal  button-block button-outline">Add Ingredient</button>
        </form>
        <h3 style="color:#000000;">Recipe steps:</h3>
        <div >
          <p style="color:#000000;">-</p>
        </div>
        <form  class="list">
          <label class="item item-input" >
            <input type="text" placeholder="Enter a step">
          </label>
        </form>
        <button class="button button-royal  button-block button-outline">Add Step</button>
        <div >
          <p style="color:#000000;">Once the data is correct, press
            <strong>Add</strong> to upload the new dish.</p>
          </div>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <button  class="button button-royal  button-block">Add Dish</button>
          <a ui-sref="tabsMaster.orderList_tab1"  class="button button-assertive  button-block button-outline">Cancel</a>
        </ion-content>
      </ion-view>
