<ion-view title="chats" id="page3" style="background-color:#545466;">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <a class="item item-avatar" ng-repeat="chat in chats">
          <img>
          <h2>{{chat.user}}</h2>
          <p>{{chat.message}}</p>
      </a>
    </div>
    <form>
        <div class="list">
            <div class="item item-input-insert">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Type the text here :)" ng-model="chat.message">
              </label>
              <button class="button button-positive ion ion-ios7-chatbubble" ng-click="prueba()"></button>
            </div>
        </div>
  </ion-content>
</ion-view>
