<ion-view title="chats" id="page3">
  <ion-content padding="false" class="has-header">
      <ion-list>
        <ion-item ng-repeat="chat in chats">
          <h2>{{chat.e.user}}</h2>
          <p>{{chat.message}}</p>
        </ion-item>
      </ion-list>
    <form>
        <div class="list">
            <div class="item item-input-insert">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Type the text here :)" ng-model="chat.message">
              </label>
              <button class="button button-positive" ng-click="prueba(chat)"></button>

            </div>
        </div>
      </form>
  </ion-content>
</ion-view>
