<ion-view title="Chef Log In" hide-nav-bar="true" id="page6" style="background-color:#545466;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="chefLogIn-form1" class="list">
      <div class="spacer" style="width: 300px; height: 32px;"></div>
      <div>
        <img src="img/d98hLZwuQDCTN2ZtfgY0_ChefApp.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 68px;"></div>
      <div>
        <a style="display:block;" onclick="login ()" >
          <img src="img/zd9q2a2JTOayO59jEV1W_Sign-In-Large---Default.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <a href="#" onclick="window.open('https://www.linkedin.com/start/join?trk=login_reg_redirect&amp;session_redirect=http%3A%2F%2Fwww.linkedin.com%2Fcontacts%2F%3Futm_source%3Dwww.demo8.com', '_system', 'location=yes'); return false;" id="chefLogIn-button2"
        style="color:#0078B8;" class="button button-stable  button-block">Or create an account</a>
    </form>
  </ion-content>
</ion-view>