<ion-view title="Configuration" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="configuration-form8" class="list">
      <h2 id="configuration-heading4" style="color:#000000;font-weight:400;">Change current Host:</h2>
      <label class="item item-input" id="configuration-input11">
        <input type="text" placeholder="">
      </label>
      <h2 id="configuration-heading3" style="color:#000000;font-weight:400;">Change Port:</h2>
      <label class="item item-input" id="configuration-input12">
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="configuration-button22" class="button button-positive  button-block">Save Changes</button>
  </ion-content>
</ion-view>