<ion-view title="Tabs Master" id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsMaster-tabs1">
    <ion-tab title="Order List" icon="ion-ios-list" href="#/page1/tab1/order.designed-page" id="tabsMaster-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Asigned Order" icon="ion-android-checkbox" href="#/page1/tab4/order.designed-page" id="tabsMaster-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Chat" icon="ion-android-chat" href="#/page1/chat-page" id="tabsMaster-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Inventory" icon="ion-ios-box" href="#/page1/inventory-page" id="tabsMaster-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>