<ion-view title="Dairy Products Inventory" id="page14">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="dairyProductsInventory-list14">
      <ion-item id="dairyProductsInventory-list-item70">Apple
        <span class="item-note">Quantity: 1 u.</span>
      </ion-item>
      <ion-item id="dairyProductsInventory-list-item71">Pinneapple
        <span class="item-note">Quantity: 2 u.</span>
      </ion-item>
      <ion-item id="dairyProductsInventory-list-item72">Watermelon</ion-item>
    </ion-list>
  </ion-content>
</ion-view>